@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
    .link {
        @apply cursor-pointer hover:underline
    }
 .button {
    @apply p-2 text-xs md:text-sm bg-gradient-to-b from-yellow-200 to-colorThree border-colorOne rounded-sm focus:outline-none focus:ring-2 focus:ring-colorOne active:from-colorOne
 }
}

.logo {
    float: left;
    text-indent: -500px;
    background-position: -10px -51px;
    width: 97px;
    height: 30px;
    line-height: 0;
}

.cartIcon {
    background-position: -10px -340px;
    width: 38px;
    height: 26px;
}

.cartText-position {
    position: absolute;
    left: 18px;
    right: auto;
    top: -4px;
    justify-content: center;
}

.locationIcon {
    background-position: -71px -378px;
    width: 15px;
    height: 18px;
    margin-top: 8px;
}

.searchIcon {
    width: 46px;
    height: 40px;
    background-position: 2px -280px;
}

.navIcon {
    width: 17px;
    height: 14px;
    background-position: -172px -255px;
}